@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Orbitron&family=Press+Start+2P&display=swap");

input[type=text], select {
    width: 100%;
    max-width: auto;
    padding: 14px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=number] {
    width: 100%;
    padding: 14px 10px;
    margin: 4px 0;
    border-radius: 4px;
    border: 2px solid cornflowerblue;
  }

  input[type=email] {
    width: 100%;
    padding: 14px 10px;
    max-width: auto;
    margin: 4px 0;
    border-radius: 4px;
    border: 2px solid cornflowerblue;
  }

  .add-property button {
    font-size: large;
    background-color: lightblue;
    border-radius: 12px;
  }

  .add-property {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-top: 20px;

  }
