.navbar {
  display: flex;
  background-color: white;
  border-bottom: gray;
  height: auto;
  width: 100%;
}

.logo {
  height: 70px;
  background-color: white;
  overflow: hidden;
}

.navbar-links {
  display: flex;
  align-items:center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar-links li {
  padding-right: 20px;
  display: flex;
}

.item {
  padding-right: 20px;
  color: cornflowerblue;
}

.item:active {
  color: red;
}
